.footer {
  padding: 80px 0;
  background: black;
}
.footer .container .footer-1 h3 {
  font-size: 28px;
  color: #fff;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 43.2px;
}
.footer .container .footer-1 h3:after {
  content: '';
  background: #ffb262;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer .container .footer-1 .footer-1-1 p {
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 28px;
}
.footer .container .footer-1 .footer-1-1 p .fa,
.footer .container .footer-1 .footer-1-1 p .fa-twitter {
  display: inline-block;
  padding-right: 1.5em;
  color: #0accff;
}
.footer .container .footer-1 .footer-1-1 p .fa:before,
.footer .container .footer-1 .footer-1-1 p .fa-twitter:before {
  content: "\f099";
}
.footer .container .footer-1 .footer-1-1 p span {
  display: block;
}
.footer .container .footer-1 .footer-1-1 p a {
  color: #ffb262;
  text-decoration: none;
}
.footer .container .footer-1 .footer-1-2 ul li {
  margin-bottom: 12px;
}
.footer .container .footer-1 .footer-1-2 ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
}
.footer .container .footer-1 .footer-1-2 ul li span {
  color: #ffb262;
  padding-right: 1em;
}
.footer .container .footer-1 .footer-1-2 ul li span:before {
  content: "\f101";
}
.footer .container .footer-1 .footer-1-3 div {
  width: 33.333%;
  float: left;
  border: 2px solid #fff;
}
.footer .container .footer-1 .footer-1-3 div a img {
  display: block;
  width: 100%;
  height: auto;
}
.footer .container .footer-2 {
  margin-top: 64px;
}
.footer .container .footer-2 div {
  padding: 0;
}
.footer .container .footer-2 div form {
  margin-top: 0;
}
.footer .container .footer-2 div form input[type='email'] {
  outline: none;
  border: none;
  background: #fff;
  font-size: 16px;
  color: #212121;
  width: 72%;
  padding: 15px;
  margin-right: 16px;
  display: inline-block;
}
.footer .container .footer-2 div form input[type='submit'] {
  padding: 15px 0;
  width: 25%;
  background: #ffb262;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  height: 51px;
  display: inline-block;
}
.footer .container .footer-3 {
  margin-top: 48px;
  padding: 16px 0;
  border-top: 2px solid #828282;
  border-bottom: 2px solid #828282;
}
.footer .container .footer-3 p {
  color: #fff;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
}
